# OS
.DS_Store

# Node
node_modules

# SvelteKit
/build
/.svelte-kit
/package

# Environment Variables
.env
.env.*
!.env.example

# Yarn
yarn.lock
/.yarn

# Vercel
/.vercel

# VSCode
/.vscode

# Svelte
svelte.config.js

# ESLint
.eslintrc.cjs

# Playwright
playwright.config.ts