# macOS
.DS_Store

# Node
node_modules

# Svelte
/build
/.svelte-kit
/package

# Environment Variables
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# VSCode
.vscode

# Vercel
.vercel

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
