@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prism Overrides */
.token.operator {
	background: none;
}

/* Utilities */
@layer utilities {
	/* Block Stack */
	.stack {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.stack > * {
		margin-block: 0;
	}

	.stack > * + * {
		margin-block-start: var(--space, 1.5rem);
	}

	/* Inline Stack */
	.stack-h {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.stack-h > * {
		margin-inline: 0;
	}

	.stack-h > * + * {
		margin-inline-start: var(--space, 1.5rem);
	}

	/* Stack Sizes */
	.stack-xs {
		--space: 0.5rem;
	}

	.stack-sm {
		--space: 1rem;
	}

	.stack-md {
		--space: 1.5rem;
	}

	.stack-lg {
		--space: 2rem;
	}

	/* Stack Borders */
	.stack-border > * + * {
		@apply border-t border-t-slate-400;
	}
}

@layer components {
	/* Color picker */
	.color-picker ::-webkit-color-swatch-wrapper,
	.color-palette ::-webkit-color-swatch-wrapper {
		padding: 0;
	}

	::-webkit-color-swatch {
		border: 0;
	}

	.color-picker ::-webkit-color-swatch {
		@apply rounded;
	}

	.color-palette li:first-child ::-webkit-color-swatch {
		@apply rounded-l;
	}

	.color-palette li:last-child ::-webkit-color-swatch {
		@apply rounded-r;
	}

	.color-picker ::-moz-color-swatch,
	.color-picker ::-moz-focus-inner,
	.color-palette ::-moz-color-swatch {
		border: 0;
	}

	.color-picker ::-moz-focus-inner,
	.color-palette ::-moz-focus-inner {
		padding: 0;
	}

	/* Number input */
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}
