@import 'tailwindcss';

@theme {
  /* Font Size */
  --text-2xs: 0.6875rem;
  --text-2xs--line-height: 1rem;
  --text-3xs: 0.625rem;
  --text-3xs--line-height: 1rem;

  /* Fonts */
  --font-sans: 'Inter', sans-serif;

  /* Colors */
  --color-ck: #7e58ff;
  --color-ck-light: #7e58ffcc;
  --color-valkyrie: #c6abdd;

  /* Transitions */
  --ease-cubic-out: cubic-bezier(0.215, 0.61, 0.355, 1);

  /* Animations */
  --animate-slide-down-and-fade: slideDownAndFade 300ms
    cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  /* Dialog */
  dialog {
    @apply m-auto;
  }

  /* Color Picker */
  ::-webkit-color-swatch-wrapper {
    @apply p-0;
  }

  ::-webkit-color-swatch {
    @apply rounded-sm border-0;
  }

  ::-moz-color-swatch {
    @apply border-0;
  }

  ::-moz-focus-inner {
    @apply border-0;
  }

  ::-moz-focus-inner {
    @apply p-0;
  }

  /* Number input */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply m-0;

    -webkit-appearance: none;
  }

  /* Firefox */
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  /* Focus outline */
  *:focus-visible {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

@layer components {
  .tooltip {
    @apply z-10 items-baseline gap-2 rounded-sm border border-slate-400 bg-slate-900 px-2 py-1 text-xs text-white;
  }

  .keybinding {
    @apply text-xs text-slate-400;
  }

  #map .maplibregl-ctrl-attrib.maplibregl-compact {
    @apply ease-cubic-out transition-transform duration-400;
  }

  #map.compact-y .maplibregl-ctrl-attrib.maplibregl-compact {
    @apply -translate-y-72;
  }

  #map.compact-x .maplibregl-ctrl-attrib.maplibregl-compact {
    @apply -translate-x-[33.333333vw];
  }

  #map:not(.compact-x) .maplibregl-ctrl-attrib.maplibregl-compact {
    @apply delay-150;
  }
}

@layer utilities {
  .will-change-transform-opacity {
    will-change: transform, opacity;
  }
}
