@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilities */
@layer utilities {
	/* Stack */
	.stack {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.stack > * {
		margin-block: 0;
	}

	.stack > * + * {
		margin-block-start: var(--space, 1.5rem);
	}

	.stack-xs {
		--space: 0.5rem;
	}

	.stack-sm {
		--space: 1rem;
	}

	.stack-md {
		--space: 1.5rem;
	}

	.stack-lg {
		--space: 2rem;
	}
}
